<!-- Edit this file to change the layout of the detail view form -->

<style type="text/css"><!--  #noMouseOver:hover{ color: #000000; }  --></style>
<table border=1 bordercolor=navy cellpadding=0 cellspacing=0>
	<tr>
		<td>
			<div class=TableTitle><%%DETAIL_VIEW_TITLE%%></div>
			</td>
		</tr>
	<tr>
		<td>
			<table>
				<tr>
					<td colspan=2></td>
					<td rowspan=6 valign=top>
						<div><%%DVPRINT_BUTTON%%></div>
						<div><%%UPDATE_BUTTON%%></div>
						<div><%%DELETE_BUTTON%%></div>
						<div><%%DESELECT_BUTTON%%></div>
						<br />
						<div><%%INSERT_BUTTON%%></div>
						</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">ID</div>
						</td>
					<td class=TableBody id="noMouseOver" width=300 valign=top><%%VALUE(id)%%>&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;"><b class="Error"><%%TRANSLATION(*)%%></b> Disease</div>
						</td>
					<td class=TableBody id="noMouseOver" width=300 valign=top><span style="float: left;"><%%COMBO(disease)%%></span> <%%PLINK(disease)%%>&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;"><b class="Error"><%%TRANSLATION(*)%%></b> Symptom</div>
						</td>
					<td class=TableBody id="noMouseOver" width=300 valign=top><span style="float: left;"><%%COMBO(symptom)%%></span> <%%PLINK(symptom)%%>&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Expected probability</div>
						</td>
					<td class=TableBody id="noMouseOver" width=300 valign=top><input size="40" type="text" class="TextBox" name="expected_probability" id="expected_probability" value="<%%VALUE(expected_probability)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Minimum</div>
						</td>
					<td class=TableBody id="noMouseOver" width=300 valign=top><input size="40" type="text" class="TextBox" name="minimum" id="minimum" value="<%%VALUE(minimum)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Maximum</div>
						</td>
					<td class=TableBody id="noMouseOver" width=300 valign=top><input size="40" type="text" class="TextBox" name="maximum" id="maximum" value="<%%VALUE(maximum)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Reading other value</div>
						</td>
					<td class=TableBody id="noMouseOver" width=300 valign=top><input size="40" type="text" class="TextBox" name="reading_other_value" id="reading_other_value" value="<%%VALUE(reading_other_value)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Comments</div>
						</td>
					<td class=TableBody id="noMouseOver" width=300 valign=top><%%HTMLAREA(comments)%%></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>


	<div id="fieldDescription" class="fieldDescription" onclick="this.style.visibility='hidden';">&nbsp;</div>

	<script type="text/javascript" src="nicEdit.js"></script>
	<script language="javaScript"><!-- 
		bkLib.onDomLoaded(function(){
			if(document.getElementById('comments')!=undefined)
				new nicEditor().panelInstance('comments');
		}); //--></script>

	<script>
		if(document.getElementsByName('disease').length){
			document.getElementsByName('disease')[0].focus();
		}
	</script>
	<script>
		function disease_symptoms_showDescription(fieldName, e){
			var desc='&nbsp';

			var x=0;
			var y=0;
			if(e.pageX){
				x=e.pageX-10;
				y=e.pageY-10;
			}else if(e.clientX){
				x=e.clientX-10;
				y=e.clientY-10;
				if(document.body && ( document.body.scrollLeft || document.body.scrollTop )){
					x+=document.body.scrollLeft;
					y+=document.body.scrollTop;
				}else if(document.documentElement && ( document.documentElement.scrollLeft || document.documentElement.scrollTop )){
					x+=document.documentElement.scrollLeft;
					y+=document.documentElement.scrollTop;
				}
			}else{
				return false;
			}

			$('fieldDescription').innerHTML=desc;
			$('fieldDescription').style.left=x+'px';
			$('fieldDescription').style.top=y+'px';
			$('fieldDescription').style.visibility='visible';

			return false;
		}
	</script>