<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="diseases.short_name.<%%VALUE(ID)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(Short name)%%></div></td>
		<td id="diseases.latin_name.<%%VALUE(ID)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(Latin name)%%></div></td>
		<td id="diseases.description.<%%VALUE(ID)%%>" valign="top" width="400" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(Description)%%></div></td>
