<!-- Edit this file to change the layout of the detail view form -->

<style type="text/css"><!--  #noMouseOver:hover{ color: #000000; }  --></style>
<table border=1 bordercolor=navy cellpadding=0 cellspacing=0>
	<tr>
		<td>
			<div class=TableTitle><%%DETAIL_VIEW_TITLE%%></div>
			</td>
		</tr>
	<tr>
		<td class=TableHeader colspan=3 height=25>
			<div class=TableHeader style="text-align: right; height: 100%; padding-right: 3px;">
				<a href="disease_symptoms_view.php?FilterField[1]=2&FilterOperator[1]=%3C%3D%3E&FilterValue[1]=<%%VALUE(short_name)%%>" style="position: relative; top: 5px; border: 1px solid navy; background-color: #ffffff; text-decoration: none; color: navy; padding: 1px 10px 1px 10px; visibility: hidden;" id="disease_symptoms_link">Disease symptoms</a>
				</div>
			</td>
		</tr>
	<tr>
		<td>
			<table>
				<tr>
					<td colspan=2></td>
					<td rowspan=6 valign=top>
						<div><%%DVPRINT_BUTTON%%></div>
						<div><%%UPDATE_BUTTON%%></div>
						<div><%%DELETE_BUTTON%%></div>
						<div><%%DESELECT_BUTTON%%></div>
						<br />
						<div><%%INSERT_BUTTON%%></div>
						</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">ID</div>
						</td>
					<td class=TableBody id="noMouseOver" width=300 valign=top><%%VALUE(id)%%>&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;"><b class="Error"><%%TRANSLATION(*)%%></b> Short name</div>
						</td>
					<td class=TableBody id="noMouseOver" width=300 valign=top><input size="40" type="text" class="TextBox" name="short_name" id="short_name" value="<%%VALUE(short_name)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Latin name</div>
						</td>
					<td class=TableBody id="noMouseOver" width=300 valign=top><input size="40" type="text" class="TextBox" name="latin_name" id="latin_name" value="<%%VALUE(latin_name)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Description</div>
						</td>
					<td class=TableBody id="noMouseOver" width=300 valign=top><%%HTMLAREA(description)%%></td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Other details</div>
						</td>
					<td class=TableBody id="noMouseOver" width=300 valign=top><%%HTMLAREA(other_details)%%></td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Comments</div>
						</td>
					<td class=TableBody id="noMouseOver" width=300 valign=top><%%HTMLAREA(comments)%%></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>


	<div id="fieldDescription" class="fieldDescription" onclick="this.style.visibility='hidden';">&nbsp;</div>

	<script type="text/javascript" src="nicEdit.js"></script>
	<script language="javaScript"><!-- 
		bkLib.onDomLoaded(function(){
			if(document.getElementById('description')!=undefined)
				new nicEditor().panelInstance('description');
			if(document.getElementById('other_details')!=undefined)
				new nicEditor().panelInstance('other_details');
			if(document.getElementById('comments')!=undefined)
				new nicEditor().panelInstance('comments');
		}); //--></script>

	<script>
		if(document.getElementsByName('short_name').length){
			document.getElementsByName('short_name')[0].focus();
		}
	</script>
	<script>
		function diseases_showDescription(fieldName, e){
			var desc='&nbsp';

			var x=0;
			var y=0;
			if(e.pageX){
				x=e.pageX-10;
				y=e.pageY-10;
			}else if(e.clientX){
				x=e.clientX-10;
				y=e.clientY-10;
				if(document.body && ( document.body.scrollLeft || document.body.scrollTop )){
					x+=document.body.scrollLeft;
					y+=document.body.scrollTop;
				}else if(document.documentElement && ( document.documentElement.scrollLeft || document.documentElement.scrollTop )){
					x+=document.documentElement.scrollLeft;
					y+=document.documentElement.scrollTop;
				}
			}else{
				return false;
			}

			$('fieldDescription').innerHTML=desc;
			$('fieldDescription').style.left=x+'px';
			$('fieldDescription').style.top=y+'px';
			$('fieldDescription').style.visibility='visible';

			return false;
		}
	</script>