<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="patient_symptoms.patient.<%%VALUE(ID)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(Patient)%%></div></td>
		<td id="patient_symptoms.symptom.<%%VALUE(ID)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(Symptom)%%></div></td>
		<td id="patient_symptoms.observation_date.<%%VALUE(ID)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(Observation date)%%></div></td>
		<td id="patient_symptoms.observation_time.<%%VALUE(ID)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(Observation time)%%></div></td>
		<td id="patient_symptoms.symptom_value.<%%VALUE(ID)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(Symptom value)%%></div></td>
